
@{
    ViewBag.Title = "Index";
}

    <div class="row">



        <div class="col-xl-6 col-md-6 mb-4">
            <div class="card h-100 py-2 card_custom border-left-primary">
                <div class="card-body">
                    <div class="row no-gutters align-items-center text-center">
                        <div class="col mr-2">

                            <div class="row " style="padding-top:10px">

                                <div class="col-4">

                                    <div class="text_xl font-weight-bold text-uppercase"> ຕອນນີ້ເວລາ  </div>
                                </div>

                                <div class="col-4">
                                    <p class="text_xl font-weight-bold">22/09/2020</p>
                                </div>
                                <div class="col-4">
                                    <p class="text_xl font-weight-bold">12:00:00</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-6 col-md-6 mb-4">
            <div class="card h-100 py-2 card_custom border-left-warning">
                <div class="card-body ">
                    <div class="row no-gutters align-items-center ">
                        <div class="col mr-2">
                            <div class="text_xl font-weight-bold text-uppercase mb-1"> ຈຳນວນເງິນ </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron">
        
        <div class="row">
            <div class="col-lg-12">

                <a href="#" class="btn btn-primary btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-flag"></i>
                    </span>
                    <span class="text">ເລີ່ມຂາຍໃໝ່</span>
                </a>

                <a href="#" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                    </span>
                    <span class="text">ໃບບິນລ່າສຸດ</span>
                </a>

                <a href="#" class="btn btn-info btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-info-circle"></i>
                    </span>
                    <span class="text">ຄຳແນະນຳວິທີໃຊ້</span>
                </a>

            </div>
        </div>
        
    </div>

