@{
    ViewBag.Title = "Home Page";
}

<style>
    .padding_bot {
        padding-bottom: 20px;
    }

    .card {
        background-color: #EEEEEE;
    }

    .text_xl {
        font-size: 1.1rem;
        color: #212121;
    }

    .text_number1 {
        color: #9638EC;
    }

    .text_number2 {
        color: #4FC3F7;
    }

    .text_number3 {
        color: #FE65C3;
    }

    .card_custom {
        background-color: #ffffff;
        border:0px;
    }

    .font_cus{
        padding-left:0.5rem;
    }

    .icon_cus {
        height: 54px;
        width: 54px;
    }

    .btn_con {
        text-align: center;
    }

    .btn_cus {
        color: #fff;
        background-color: #9638EC;
        border-color: #4e73df;
        border-radius:1.2rem;
    }


</style>


<div class="jumbotron">

    <div class="padding_bot">

        <h1>ສະບາຍດີ, <span>ທ. ສົມຊາຍ</span></h1>
    </div>
    <div class="row ">

        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-primary h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text_xl font-weight-bold text-uppercase mb-1"> ຈຳນວນສິນຄ້າໃນສາງທັງໝົດ </div>
                            <div class="text-xs text-secondary "> 01/08/2020 </div>
                            <div class="h1 mb-0 font-weight-bold text_number1">8,000</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-info h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text_xl font-weight-bold text-uppercase mb-1"> ຈຳນວນສິນຄ້ານຳເຂົ້າລ່າສຸດ </div>
                            <div class="text-xs text-secondary "> 01/08/2020 </div>
                            <div class="h1 mb-0 font-weight-bold text_number2">689</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-primary h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text_xl font-weight-bold text-uppercase mb-1"> ຈຳນວນສິນຄ້ານຳອອກລ່າສຸດ </div>
                            <div class="text-xs text-secondary "> 01/08/2020 </div>
                            <div class="h1 mb-0 font-weight-bold text_number3">1,819</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card h-100 py-2 card_custom ">
            <div class="card-body ">
                <div class="row no-gutters align-items-center ">
                    <div class="col mr-2">
                        <div class="text_xl font-weight-bold text-uppercase mb-1"> ການຂາຍ </div>
                    </div>
                    <div class="col-auto">
                        <span>
                            <img class="icon_cus" src="~/icon/meds.svg" />
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card h-100 py-2 card_custom ">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text_xl font-weight-bold text-uppercase mb-1"> ຈັດການສິນຄ້າ </div>
                    </div>
                    <div class="col-auto">
                        <span >
                            <img class="icon_cus" src="~/icon/box.svg" />
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-6 col-md-6 mb-4">
        <div class="card h-100 py-2 card_custom">
            <div class="card-body">
                <div class="row no-gutters align-items-center text-center">
                    <div class="col mr-2">
                        
                        <div class="row " style="padding-top:10px">

                            <div class="col-4" >

                                <div class="text_xl font-weight-bold text-uppercase"> ຕອນນີ້ເວລາ  </div>
                            </div>

                            <div class="col-4">
                                <p class="text_xl font-weight-bold">22/09/2020</p>
                            </div>
                            <div class="col-4">
                                <p class="text_xl font-weight-bold">12:00:00</p>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="jumbotron">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="text_xl font-weight-bold text-uppercase mb-1"> ຂໍ້ມູນການຂາຍລ່າສຸດ </div>
        <br />

        <!-- DataTales Example -->
        <div class="card mb-4">

            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead class="text-center">
                        <tr>
                            <th>ວັນທີ</th>
                            <th>ເລກບິນ</th>
                            <th>ເປັນເງິນທັງໝົດ</th>
                            <th>ຄົນຂາຍ</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot class="text-center">
                        <tr>
                            <th>ວັນທີ</th>
                            <th>ເລກບິນ</th>
                            <th>ເປັນເງິນທັງໝົດ</th>
                            <th>ຄົນຂາຍ</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <th>22/09/2020 15:00:00</th>
                            <th>BillNo.11255899</th>
                            <th>1,500,000 ກີບ</th>
                            <th>ທ. ສົມຊາຍ</th>
                            <th>
                                <div class="btn_con">
                                    <a href="#" class="btn btn_cus">
                                        <span class="text font-weight-bold text-uppercase">ລາຍລະອຽດ</span>
                                    </a>
                                </div>
                                
                            </th>
                        </tr>
                        <tr>
                            <th>22/09/2020 15:00:00</th>
                            <th>BillNo.11255899</th>
                            <th>1,500,000 ກີບ</th>
                            <th>ທ. ສົມຊາຍ</th>
                            <th><div class="btn_con">
    <a href="#" class="btn btn_cus">
        <span class="text font-weight-bold text-uppercase">ລາຍລະອຽດ</span>
    </a>
</div></th>
                        </tr>
                        <tr>
                            <th>22/09/2020 15:00:00</th>
                            <th>BillNo.11255899</th>
                            <th>1,500,000 ກີບ</th>
                            <th>ທ. ສົມຊາຍ</th>
                            <th><div class="btn_con">
    <a href="#" class="btn btn_cus">
        <span class="text font-weight-bold text-uppercase">ລາຍລະອຽດ</span>
    </a>
</div></th>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>




</div>

