@{
    ViewBag.Title = "Home Page";
}

<style>
    .padding_bot{
        padding-bottom:20px;
    }

    .card {
        background-color: #EEEEEE;
    }

    .text_xl {
        font-size: 1.1rem;
        color: #212121;
    }

    .text_number1 {
        color: #9638EC;
    }

    .text_number2 {
        color: #4FC3F7;
    }

    .text_number3 {
        color: #FE65C3;
    }

</style>


    <div class="jumbotron">

        <div class="padding_bot">

            <h1>ສະບາຍດີ, <span>Anouluck</span></h1>
        </div>
        <div class="row ">

            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-left-primary h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text_xl font-weight-bold text-uppercase mb-1"> ຈຳນວນສິນຄ້າໃນສາງທັງໝົດ </div>
                                <div class="text-xs text-secondary "> 01/08/2020 </div>
                                <div class="h1 mb-0 font-weight-bold text_number1">8,000</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-left-info h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text_xl font-weight-bold text-uppercase mb-1"> ຈຳນວນສິນຄ້ານຳເຂົ້າລ່າສຸດ </div>
                                <div class="text-xs text-secondary "> 01/08/2020 </div>
                                <div class="h1 mb-0 font-weight-bold text_number2">689</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-left-primary h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text_xl font-weight-bold text-uppercase mb-1"> ຈຳນວນສິນຄ້ານຳອອກລ່າສຸດ </div>
                                <div class="text-xs text-secondary "> 01/08/2020 </div>
                                <div class="h1 mb-0 font-weight-bold text_number3">1,819</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>