@{
    ViewBag.Title = "Home Page";
}

<style>
    .padding_bot {
        padding-bottom: 20px;
    }

    .card {
        background-color: #EEEEEE;
    }

    .text_xl {
        font-size: 1.1rem;
        color: #212121;
    }

    .text_number1 {
        color: #9638EC;
    }

    .text_number2 {
        color: #4FC3F7;
    }

    .text_number3 {
        color: #FE65C3;
    }

    .card_custom {
        background-color: #ffffff;
        border: 0px;
    }

    .font_cus {
        padding-left: 0.5rem;
    }

    .icon_cus {
        height: 54px;
        width: 54px;
    }

    .btn_con {
        text-align: center;
    }

    .btn_cus {
        color: #fff;
        background-color: #9638EC;
        border-color: #4e73df;
        border-radius: 1.2rem;
    }
</style>


<div class="jumbotron">

    <div class="padding_bot">

        <h2 class="font-weight-bold"> ລວມການເຄື່ອນໄຫວມື້ນີ້ </h2>
    </div>
    <div class="row ">

        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-primary h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text_xl font-weight-bold text-uppercase mb-1"> ສະຫຼຸບຍອດຂາຍມື້ນີ້ </div>
                            <div class="text-xs text-secondary "> 11/10/2020 </div>
                            <div class="h1 mb-0 font-weight-bold text_number1">10,000,000</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-info h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text_xl font-weight-bold text-uppercase mb-1"> ຍອດສິນຄ້າທີ່ຂາຍໄປ </div>
                            <div class="text-xs text-secondary "> 01/08/2020 </div>
                            <div class="h1 mb-0 font-weight-bold text_number2">689</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-primary h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text_xl font-weight-bold text-uppercase mb-1"> ຈຳນວນໃບບິນທີ່ໄດ້ຂາຍ </div>
                            <div class="text-xs text-secondary "> 01/08/2020 </div>
                            <div class="h1 mb-0 font-weight-bold text_number3">1,819</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="row">
    @*<div class="col-xl-3 col-md-6 mb-4">
            <div class="card h-100 py-2 card_custom ">
                <div class="card-body ">
                    <div class="row no-gutters align-items-center ">
                        <div class="col mr-2">
                            <div class="text_xl font-weight-bold text-uppercase mb-1"> ການຂາຍ </div>
                        </div>
                        <div class="col-auto">
                            <span>
                                <img class="icon_cus" src="~/icon/meds.svg" />
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card h-100 py-2 card_custom ">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text_xl font-weight-bold text-uppercase mb-1"> ຈັດການສິນຄ້າ </div>
                        </div>
                        <div class="col-auto">
                            <span >
                                <img class="icon_cus" src="~/icon/box.svg" />
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-6 col-md-6 mb-4">
            <div class="card h-100 py-2 card_custom">
                <div class="card-body">
                    <div class="row no-gutters align-items-center text-center">
                        <div class="col mr-2">

                            <div class="row " style="padding-top:10px">

                                <div class="col-4" >

                                    <div class="text_xl font-weight-bold text-uppercase"> ຕອນນີ້ເວລາ  </div>
                                </div>

                                <div class="col-4">
                                    <p class="text_xl font-weight-bold">22/09/2020</p>
                                </div>
                                <div class="col-4">
                                    <p class="text_xl font-weight-bold">12:00:00</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>*@


</div>

<div class="row">
    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
        <div class="card mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Dropdown Header:</div>
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body card_custom">
                <div class="chart-area">
                    <canvas id="myAreaChart"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 mb-4">
        <div class="card mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">ປະລິມານຈຳນວນສິນຄ້າຢູ່ໃນ Stock</h6>
            </div>
            <div class="card-body card_custom">
                <h4 class="small font-weight-bold"> ສິນຄ້າທັງໝົດ <span class="float-right">50%</span></h4>
                <div class="progress mb-4">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <h4 class="small font-weight-bold"> ສິນຄ້າທີ່ຂາຍໄປ <span class="float-right">20%</span></h4>
                <div class="progress mb-4">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <h4 class="small font-weight-bold"> ສິນຄ້າຍັງຄົງເຫຼືອ <span class="float-right">30%</span></h4>
                <div class="progress mb-4">
                    <div class="progress-bar" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <h4 class="small font-weight-bold"> ນຳເຂົ້າໃໝ່ <span class="float-right">30%</span></h4>
                <div class="progress mb-4">
                    <div class="progress-bar" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                </div>


            </div>
        </div>
    </div>

</div>

<div class="jumbotron">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="text_xl font-weight-bold text-uppercase mb-1"> ຂໍ້ມູນການຂາຍລ່າສຸດ </div>
        <br />

        <!-- DataTales Example -->
        <div class="table-border-style">
            <div class="table-responsive">
                <table class="table ">
                    <thead>
                        <tr>
                            <th>No.</th>
                            @*<th>ຮູບສິນຄ້າ</th>*@
                            <th>ເລກທີໃບບິນ</th>
                            <th>ເປັນເງິນທັງໝົດ</th>
                            <th>ຈຳນວນ</th>
                            <th>ຜູ້ຂາຍ</th>

                        </tr>
                    </thead>

                    <tbody class="table-borderless">
                        <tr>
                            <td>1</td>
                            @*<td>...</td>*@
                            <td>889103</td>
                            <td>20,000</td>
                            <td>2000</td>
                            <td>Somsak</td>
                        </tr>

                        <tr>
                        <tr>
                            <td>2</td>
                            @*<td>...</td>*@
                            <td>889103</td>
                            <td>20,000</td>
                            <td>2000</td>
                            <td>Somsak</td>
                        </tr>


                    </tbody>
                </table>
            </div>
        </div>
    </div>




</div>




@section Scripts{

    @*<script src="~/Content/Assets/vendor/jquery/jquery.min.js"></script>*@
    <script src="~/Content/Assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/Assets/vendor/jquery-easing/jquery.easing.min.js"></script>
    @*<script src="~/Content/Assets/js/sb-admin-2.min.js"></script>*@
    <script src="~/Content/Assets/vendor/chart.js/Chart.min.js"></script>

    <script src="~/Content/Assets/js/demo/chart-area-demo.js"></script>
    @*<script src="~/Content/Assets/js/demo/chart-pie-demo.js"></script>*@
}

